name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Make Gradlew Executable
        run: chmod +x ./gradlew

      - name: Build Artifacts
        run: ./gradlew build

      # This step publishes to all platforms configured in mc-publish
      - name: Publish Mod
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          name: Magnus Sync ${{ github.ref_name }}
          version: ${{ github.ref_name }}
          version-type: release
          loaders: fabric
          game-versions: 1.21.1
          retry-attempts: 3
          retry-delay: 10000

          dependencies: |
            fabric-api(required)
            fabric-language-kotlin(required)

          files: build/libs/!(*-dev|*-sources).jar

          # GitHub Release
          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-generate-changelog: true

          # Modrinth Credentials
          modrinth-id: magnus-sync
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}
